.conditional {
	background: #c0d9c0;
}

.trigger {
	font-weight: bold;
	color: #105710;
	padding-left: 0.3em;
	padding-right: 0.3em;
	border: 1px solid #105710;
}

.result {
	font-weight: bold;
	background: #509950;
	color: white;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.condition {
	font-weight: bold;
	background: #509950;
	color: white;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
