/dist
/build
/temp
/bin
/docs/doxy
/docs/api
/docs/paper
!/docs/paper/*tex
!/docs/paper/*dot
!/docs/paper/*png
!/docs/paper/*pdf
!/docs/paper/*bib
/target

*_files

.*.sw?
*.jar
*~
/.classpath
/.settings
/.project
uima.log*
/src/main/webapp/org*
/src/main/webapp/.gwt-tmp
/src/main/webapp/tmp
/src/main/resources
