/** Add css rules here for your application. */
body {
  font-family:arial,sans-serif
}

.WERTiClozeItem {
	border: none;
}

.WERTiClozeText {
	border: 1px dashed #333;
}

.WERTiClozeTextFail {
	border: 1px #F00 solid;
	color: #A00;
}

.WERTiClozeTextWin {
	border: 1px #0F0 solid;
	color: #0A0;
}

.WERTiClozeTextHelped {
	border: 1px #00F solid;
	color: #00A;
}

.WERTiClozeItem {
	border: 1px dotted #333;
}

.WERTiHelpButton {
	border: none;
	font-size: 9pt;
}

div,td {
  color:#000000
}

a:link {
  color:#0000cc
}
     
a:visited {
  color:#551a8b
}

a:active {
  color:#ff0000
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}
