<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- General description of your web application -->
    <display-name>WERTi</display-name>
    <description>Learning languages interactively on the WEB</description>

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>admtrov@sfs.uni-tuebingen.de</param-value>
      <description>Mail for trouble</description>
    </context-param>

    <servlet>
	    <servlet-name>Interface</servlet-name>
	    <servlet-class>org.werti.Interface</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>RequestWiki</servlet-name>
	    <servlet-class>org.werti.RequestWiki</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>RequestURL</servlet-name>
	    <servlet-class>org.werti.RequestURL</servlet-class>
    </servlet>

    <servlet>
	    <servlet-name>RequestReuters</servlet-name>
	    <servlet-class>org.werti.RequestReuters</servlet-class>
    </servlet>
    
    <servlet-mapping>
	    <servlet-name>RequestWiki</servlet-name>
	    <url-pattern>/RequestWiki</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>RequestURL</servlet-name>
	    <url-pattern>/RequestURL</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>RequestReuters</servlet-name>
	    <url-pattern>/RequestReuters</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
	    <servlet-name>Interface</servlet-name>
	    <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout> 
    </session-config>
</web-app>
