/* common elements */
body {
	background-color: #112;
	color: #DDD;
	font-family: Monospace;
}
h1,h2 {
	background-color: #574;
	border: 1px solid;
	border-color: #251;
	font-family: Helvetica;
	color: #EEE;
	padding: 5px;
}
form {
	line-height: 150%;
}
.text {
	background-color: #333;
	border: 1px solid;
	border-color: #999;
	padding: 5px;
	width: 80%;
	margin-top: 2px;
	margin-bottom: 2px;
}
div.notice {
	margin: 5px;
	padding: 2px;
	font-style: italic;
	border: 1px dotted;
}
input {
	background-color: #444;
	border-color: #000;
	color: #DDD;
	border: 1px solid;
	font-family: Monospace;
}

.gwt-DialogBox .Caption {
	background-color: #574;
	color: #A11;
}

/* links */
a:link {
	color: #8a7;
}
a:visited {
	color: #47B;
}
a:focus {
	text-decoration: underline;
}
a:hover {
	background: #000;
}
a:active {
	color: #FFF;
}
